.container{
    width: 600px;
    height: 400px;
    margin: 100px auto;
    position: relative;

}
img{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 2s ease;
}

.container:hover img{
   -webkit-filter:blur(2px);
}
.container:hover .textword{
    visibility: visible;
    opacity: 1;

}
.container:hover .mesg::before{
    height: 100%;
    visibility: visible;
    top: 0;
}

.container:hover .mesg::after{
    width: 100%;
    visibility: visible;
    left: 0;
}

.mesg::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0;
    border: 3px solid ghostwhite;
    border-width: 0 3px;
    overflow: hidden;
    visibility: hidden;
    transition: all 1s;
    box-sizing: border-box;
}

.mesg::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    border: 3px solid ghostwhite;
    border-width: 3px 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 1s;
    box-sizing: border-box;
}











/*文字流光*/
.mesg{
    position: absolute;
    height: 350px;
    width: 525px;
    top:50%;        /*垂直水平居中*/
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);

}
.textword{
    position: absolute;
    top:50%;        /*垂直水平居中*/
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
     width: 100%;
    font-size: 32px;
    opacity: 0;
    visibility:hidden;

    background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%, #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);/*渐变色背景层*/
    color: transparent; /*文字设为透明*/
    background-size: 200% 100%;/*让背景色可以滑动*/
    animation: roll 4s infinite linear;
    -webkit-background-clip: text;/*只显示有文本的区域*/
    text-align: center;
    margin: 0 auto;
    transition: 1s ease;
}
@keyframes roll {
    0% {
        background-position: 0 0;   /*background-position 属性设置背景图像的起始位置。*/
    }
    100% {
        background-position: -100% 0;
    }
}



